
@{
    ViewBag.Title = "Index";
}

<h1>Benim ilk sayfam</h1>
<a href="#" class="btn btn-success">Tıkla</a>
<ul>
    <li><p>Yaptıklarımdan pişman değilim...</p></li>
    <li><p>Teşkilatın numarasını gönderin bana</p></li>
    <li><p>Kim? ne? ne grubu yaa?</p></li>
</ul>
<a href="#" class="btn btn-danger">Sert Tıkla</a>

