
@{
    ViewBag.Title = "FormSayfasi";
}

<h2>FormSayfasi</h2>

<form action="/Efstudent/FormSayfasi" method="post">
    <input type="text" name="Name" value="" />
    <br />
    <input type="text" name="Surname" value="" />
    <br />
    <input type="text" name="Department" value="" />
    <br />
    <input type="submit" value="Gönder" />





</form>

